section{
    margin-top: 10%;
    margin-left: 39%;
    width: 15%;
    height: 20%;

    padding: 25px;
    text-align: center;
    display: inline-block;
    background-color: blueviolet;

    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    
}

body{
    background-color: black;
}
